<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Delta Force LATAM</title>
    <link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui-dark.min.css" />
  </head>
  <body>

    <header class="header-6">
      <div class="branding">
        <span class="title">Delta Force LATAM 2019</span>
      </div>
      <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">vSphere</a>
      </div>
       <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">vSAN</a>
      </div>
       <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">NSX</a>
      </div>
       <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">vRealize Automation</a>
      </div>
        <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">vRealize Ops</a>
      </div>
       <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">vRealize Network Insight</a>
      </div>
      </div>
       <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">???????</a>
      </div>
      <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="cog"></clr-icon>
        </a>
      </div>
    </header>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>

  </body>
</html>
