<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PKS</title>
    <link rel="stylesheet" href="https://unpkg.com/@clr/ui/clr-ui-dark.min.css" />
  </head>
  <body>

    <header class="header-6">
      <div class="branding">
        <span class="title">MeetUp Kubernetes Bogota 9-7-2019</span>
      </div>
      <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">Clusters</a>
      </div>
       <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">Nodes</a>
      </div>
       <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">Pods</a>
      </div>
       <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">Containers</a>
      </div>
        <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">Apps</a>
      </div>
       <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">S.O.</a>
      </div>
      </div>
       <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">BanReservas</a>
      </div>
       </div>
       <div class="header-nav">
        <a href="javascript://" class="active nav-link nav-text">Republica Dominicana</a>
      </div>
      <div class="header-actions">
        <a href="javascript://" class="nav-link nav-icon">
          <clr-icon shape="cog"></clr-icon>
        </a>
      </div>
    </header>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>

  </body>
</html>
